services:
  go:
    image: golang:1.25.0
    container_name: go-app
    working_dir: /app
    volumes:
      - ./app:/app
      - ./migrations:/migrations
    env_file:
      - .env                # <-- load environment variables
    command: go run ./cmd/api -port=$PORT -db-dsn=$DB_DSN -cors-trusted-origins=$CORS_TRUSTED_ORIGINS
    ports:
      - "8081:8081"
    networks:
      - backend
    depends_on:
      - postgres
      - mailpit

  apache:
    image: httpd:latest
    container_name: apache-server
    ports:
      - "8080:80"
    volumes:
      - ./html:/usr/local/apache2/htdocs
    networks:
      - backend

  postgres:
    image: postgres:17
    container_name: postgres-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    # Add this command to enable extensions
    command: ["postgres", "-c", "shared_preload_libraries=citext"]
    networks:
      - backend

  migrate:
    image: migrate/migrate
    container_name: migrate
    working_dir: /migrations
    volumes:
      - ./app/migrations:/migrations
    env_file:
      - .env                  # <-- use same environment for migrations
    networks:
      - backend
    depends_on:
      - postgres
    entrypoint: [
      "migrate",
      "-path", "/migrations",
      "-database", "$DB_DSN"
    ]
    command: ["up"]

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI
    networks:
      - backend
    restart: unless-stopped

volumes:
  db_data:

networks:
  backend:
